-var absoluteUrl = 'https://www.arielestebansoto.com'
mixin head(title="Ariel Soto",url="./style.css")
    title=  title
    link(rel="stylesheet", href= url)
mixin script(src= './index.js', type)
    script(src= src, type= type)

doctype html
html(lang="en")
    include ./head.pug
        block meta
    body.body
        include ./nav
        include ./menu 
        block content
        block script