-var sections = [ webDev = {name: 'Web Dev', link: './webdev' }, music = {name: 'Music', link: './music' }, audiovisual = {name: 'Audiovisual', link: './audiovisual'}, blog = {name: 'Blog', link: './blog'} ]
.menu 
    .menu-list
        ul
        each section in sections
            li
                a(href= section.link).menu-link #{section.name}
    .menu-social
        .about
            a(href="./about") About
        .social-media
            .icon
            .icon 
            .icon
        .contact-me
        
