
-var sections = [ webDev = {name: 'Web Dev', link: './webdev' }, music = {name: 'Music', link: './music' }, audiovisual = {name: 'Audiovisual', link: './audiovisual'}, blog = {name: 'Blog', link: './blog'} ]
.menu 
    .menu-list
        ul
        each section in sections
            li
                a(href= section.link).menu-link #{section.name}
    .menu-contact
        .about
            a(href="./about.html") About
        .social-media
            .icon
            .icon 
            .icon
        .contact-me
            span.mail arielestebansoto@gmail.com
            span.phone +54 9 11 2243 1005
            span.location Argentina, Buenos Aires, Pilar.