mixin card-project(title, dataId, imageSrc, projectUrl)
    .card(data-id=`${dataId}`)
        .card-project
            img(src=`./img/project/${imageSrc}` alt='project image')
            .card--info
                a(href=`${projectUrl}`).card-project--title #{title} 
                span.card-project__info--about click to see
            .card-project-overlay 
            .hastaelfondo

section.section-project
    h1.section-main-title Projects
    .project-container#project-container
        +card-project('arielestebansoto.com', 'arielestebansoto', 'arielestebansoto/arielestebansoto.jpg', '/index.html')
        +card-project('Mercado Libre Home', 'mercadolibre','mercadolibre/mercadolibre.jpg', '/projects/mercado-libre-home/index.html')
        +card-project('Breaking BApi', 'breakingbad','breakingbad/breakingbad.jpg', '/projects/breaking-bad-api/index.html')