section.section-main.section-skill
    h1.section-main-title Skills
    .subsection-skill
        .subsection-1-skill
            p.section-main-text
                | I'm interesting in the cliente side. Front End is what I'm really into. I like design interfaces. 
        .subsection-2-skill
            h2.section-main-subtitle Technologies
            .skill-container
                // https://www.pngwing.com/es/free-png-pavgq/download
                each icon in icons = ['html', 'css', 'javascript', 'sass', 'pug', 'prepros', 'github', 'vsc', 'figma',]
                    .icon-tech-container
                        h3.icon-tech-title #{icon}
                        img.icon-tech(src=`./img/icon-tech/${icon}.png`, alt='icon')
                