section.section-main.section-skill
    h1.section-main-title Skills
    p.section-main-text
        | I'm interesting in the cliente side. Front End is what I'm really into. I like design interfaces. 
    h2.section-main-subtitle Technologies
    .skills-container