@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Bold.ttf);
  font-weight: 600;
}
* {
  font-family: ubuntu;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

/* @import 'component/_nav';
@import 'component/main'; */