@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Bold.ttf);
  font-weight: 600;
}
* {
  font-family: ubuntu;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --- FALTAN PLACEHOLDERS --- */
/* 
.selector {
    %placeholder {
        @mixin default-style
        @mixin de breakpoint {
            @mixin responsive-style {
            }
        }
}
}
*/
.nav {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  padding: 0 16px;
  column-gap: 32px;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 768px) {
  .nav {
    grid-template-columns: repeat(4, 4fr);
    margin: 0 24px;
    column-gap: 32px;
  }
}

.nav-icon {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.nav-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.nav-menu {
  grid-column: 4/5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu span {
  color: #ffffff;
}

.main {
  width: 100%;
  height: 100vh;
  padding-top: 71px;
  background-color: #1d1d1d;
}

/* @import './organisms/_header';
@import './organisms/_menu';
@import './molecules/_main-info';
@import './organisms/_carousel';
@import './templates/_posts';
@import './templates/_quickgalery';
@import './organisms/_footer';
@import './templates/_nav-desktop';
@import './pages/_blog';
@import './pages/_art';
@import './pages/webdev';
@import './pages/_about';
@import './breakpoints';  */