@use '../base/var';
.section-project {
  @extend %section;
}
.project-container {
  display: grid;
  row-gap: var.$spacing-medium;
  justify-content: center;
  @include var.breakpoint(var.$breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include var.breakpoint(var.$breakpoint-desktop) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: var.$spacing-big;
  }
}
.card-project {
  inline-size: var.$card-inline-size;
  block-size: var.$card-block-size;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
}
.card--info {
  position: absolute;
  z-index: 60;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-project--title {
  @extend %style-none;
  margin-block-end: var.$spacing-small;
}
.card-project__info--about {
  font-weight: lighter;
  font-size: 14px;
  margin-block-end: var.$spacing-small;
}
.card-project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  block-size: 100%;
  inline-size: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.card-project img {
  min-block-size: var.$card-block-size;
  min-inline-size: var.$card-inline-size;
  inline-size: auto;
  block-size: 100%;

  object-fit: cover;
}
