@use '../base/var';
.close {
    inline-size: 100%;
    display: flex;
    justify-content: flex-end;
}
.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 80;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @extend %section;
    block-size: 100vh;
    padding-block-start: var.$height-nav;
    background-color: var.$color-dark;

}

.modal h1 {
    // @extend %section-subtitle;
    margin-block-end: var.$spacing-medium;
}
.modal-image-container {
    @extend %section;
    block-size: 35vh;
    overflow-y: scroll;
    margin-block-end: var.$spacing-medium;
}
.modal-image-container img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
}
.modal-text-container {
    overflow-y: scroll;
    block-size: 30vh;
}
.modal-text-container a {
    display: block;
    margin-block-end: var.$spacing-small;
}