article.post
    h1 Titulo
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, expedita ipsum commodi cupiditate magni placeat, laudantium repellendus itaque corrupti eligendi ea alias! Deserunt animi beatae hic quisquam laboriosam vero omnis.
    aside.blog-menu
        ul.blog-index
            each post in ['post 1', 'post 2', 'post 3', 'post 4']
                li= post
    footer.contact
        .name
            h1 Ariel Esteban Soto
        .info