nav.nav
    .c-nav
        .nav-category
            ul
                each category in ['Web Dev', 'Art', 'Blog']
                    a(href="#")= category 
        include ../molecules/main-info.pug