nav.nav 
    .nav-category
        ul
            each category in ['Blog', 'Web Dev', 'Musica', 'Audiovisual']
                a(href="#")= category 
    .nav-main            
        .nav-about
            a(href="#") HOME
            a(href="#") ABOUT
        .nav-info
            ul.social-media
                li
                    a(href="#") IG
                li
                    a(href="#") in
            ul.phone
                li phone
                li +54 9 11 2243 1005
            ul.mail
                li Emails
                li arielestebansoto@gmail.com
                li arielestebansoto.av@gmail.com (audiovisual)
                li airlesotofotografia@gmail.com (fotografia eventos)
            ul.addres 
                li address
                li Argentina
                li Buenos Aires
                li Pilar    

