nav.nav
    .c-nav
        .nav-category
            ul
                li
                    a(href="web-dev.html") Web Dev
                li
                    a(href="blog.html") Blog
                li
                    a(href="art.html") Art 
        include ../molecules/main-info.pug