@use 'size';
@use 'breakpoint';

%template-columns-mobile-1 {
    grid-template-columns: repeat(4, 4fr);
    padding-inline: size.$margin-grid-mobile;
    column-gap: size.$gutter-grid-mobile;
}
%template-rows-mobile-hero {
    grid-template-rows: repeat(7, 1fr);
    padding-block-start: size.$height-nav;
    row-gap: size.$gutter-grid-mobile;
}
%section {
    inline-size: 100%;
    min-block-size: 100vh;
    padding-block-start: size.$height-nav;
    padding-inline: size.$margin-grid-mobile;
    @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
        padding-inline: size.$margin-grid-tablet;
    }
    @include breakpoint.breakpoint(breakpoint.$breakpoint-desktop) {
        padding-inline: size.$margin-grid-desktop;
    }
}