@use 'size';
@use 'breakpoint';

%section {
    inline-size: 90%;
    // padding-block-start: size.$height-nav;
    // padding-inline: size.$margin-grid-mobile;
    @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
        inline-size: 85%;
    }
    @include breakpoint.breakpoint(breakpoint.$breakpoint-desktop) {
        inline-size: 70%;
    }
}

%template-columns-mobile-1 {
    grid-template-columns: repeat(4, 4fr);
    padding-inline: size.$margin-grid-mobile;
    column-gap: size.$gutter-grid-mobile;
}
%template-rows-mobile-hero {
    grid-template-rows: repeat(7, 1fr);
    padding-block-start: size.$height-nav;
    row-gap: size.$gutter-grid-mobile;
}