@use 'color';
@use 'typography';
@use 'breakpoint';

@mixin hero {
  color: color.$color-font-white;
  font-size: typography.$font-size-hero;
  letter-spacing: typography.$letter-spacing-hero;
  line-height: typography.$line-height-hero;
  font-weight: typography.$font-weight-hero;
}
@mixin h1 {
  color: color.$color-font-white;
  font-size: typography.$font-size-h1;
  letter-spacing: typography.$letter-spacing-h1;
  line-height: typography.$line-height-h1;
  font-weight: typography.$font-weight-h1;
}
@mixin h1-bold {
  @include h1;
  font-weight: typography.$bold;
}
@mixin h2 {
  color: color.$color-font-white;
  font-size: typography.$font-size-h2;
  letter-spacing: typography.$letter-spacing-h2;
  line-height: typography.$line-height-h2;
  font-weight: typography.$font-weight-h2;
}
@mixin h2-bold {
  @include h2;
  font-weight: typography.$font-weight-h2-bold;
}
@mixin h3 {
  color: color.$color-font-white;
  font-size: typography.$font-size-h3;
  letter-spacing: typography.$letter-spacing-h3;
  line-height: typography.$line-height-h3;
  font-weight: typography.$font-weight-h3;
}
@mixin h3-bold {
  @include h3;
  font-weight: typography.$font-weight-h3-bold;
}
@mixin h4 {
  color: color.$color-font-white;
  font-size: typography.$font-size-h4;
  letter-spacing: typography.$letter-spacing-h4;
  line-height: typography.$line-height-h4;
  font-weight: typography.$font-weight-h4;
}
@mixin h4-bold {
  @include h4;
  font-weight: typography.$font-weight-h4-bold;
}
@mixin h5 {
  color: color.$color-font-white;
  font-size: typography.$font-size-h5;
  letter-spacing: typography.$letter-spacing-h5;
  line-height: typography.$line-height-h5;
  font-weight: typography.$font-weight-h5;
}
@mixin h5-bold {
  @include h5;
  font-weight: typography.$font-weight-h5-bold;
}
@mixin h6 {
  color: color.$color-font-white;
  font-size: typography.$font-size-h6;
  letter-spacing: typography.$letter-spacing-h6;
  line-height: typography.$line-height-h6;
  font-weight: typography.$font-weight-h6;
}
@mixin sub1 {
  color: color.$color-font-white;
  font-size: typography.$font-size-sub1;
  letter-spacing: typography.$letter-spacing-sub1;
  line-height: typography.$line-height-sub1;
  font-weight: typography.$font-weight-sub1;
}
@mixin sub1-desktop {
  color: color.$color-font-white;
  font-size: typography.$font-size-sub1-desktop;
  letter-spacing: typography.$letter-spacing-sub1-desktop;
  line-height: typography.$line-height-sub1-desktop;
  font-weight: typography.$font-weight-sub1-desktop;
}
@mixin body1 {
  color: color.$color-font-white;
  font-size: typography.$font-size-body1;
  letter-spacing: typography.$letter-spacing-body1;
  line-height: typography.$line-height-body1;
  font-weight: typography.$font-weight-body1;
}
@mixin body2 {
  color: color.$color-font-white;
  font-size: typography.$font-size-body2;
  letter-spacing: typography.$letter-spacing-body2;
  line-height: typography.$line-height-body2;
  font-weight: typography.$font-weight-body2;
}
@mixin body-desktop {
  color: color.$color-font-white;
  font-size: typography.$font-size-body-desktop;
  letter-spacing: typography.$letter-spacing-body-desktop;
  line-height: typography.$line-height-body-desktop;
  font-weight: typography.$font-weight-body-desktop;
}
@mixin button {
  color: color.$color-font-white;
  font-size: typography.$font-size-button;
  letter-spacing: typography.$letter-spacing-button;
  line-height: typography.$line-height-button;
  font-weight: typography.$font-weight-button;
}
@mixin button-desktop {
  color: color.$color-font-white;
  font-size: typography.$font-size-button-desktop;
  letter-spacing: typography.$letter-spacing-button-desktop;
  line-height: typography.$line-height-button-desktop;
  font-weight: typography.$font-weight-button-desktop;
}
%hero {
  @include h2-bold;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h1-bold;
  }
}
%hero-subtitle {
  @include h5-bold;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h3-bold;
  }
}
%nav {
  @include body1;
}
%menu-link {
  @include h4-bold;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h3-bold;
  }
}
%menu-subtitle {
  @include h5-bold;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h3;
  }
}
%section-title {
  @include h4-bold;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h2-bold;
  }
}
%section-subtitle {
  @include h5;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h3;
  }
}
%text {
  @include body1;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include body-desktop;
  }
}
%button {
  @include button;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include button-desktop;
  }
}
%card-title {
  @include sub1;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include sub1-desktop;
  }
}
%blog-title {
  @include h6;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h3;
  }
}
%blog-text {
  @extend %text;
}
%blog-date {
  @include body2;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h6;
  }
}
%blog-extract {
  @include sub1;
  @include breakpoint.breakpoint(breakpoint.$breakpoint-tablet) {
    @include h5-bold;
  }
}
