$height-nav: 72px;

$margin-grid-mobile: 32px;
$margin-grid-tablet: 48px;
$margin-grid-desktop: 64px;

$margin-post-mobile: 64px;

$gutter-grid-mobile: 32px;
$gutter-grid-tablet: 32px;
$gutter-grid-desktop: 32px;

$spacing-little: 6px;
$spacing-small: 12px;
$spacing-medium: 24px;
$spacing-big: 48px;

$icon-size: 24px;
$icon-container: 48px;

$card-block-size: 82px;
$card-inline-size: 125px;
$card-info-min-inline-size: 150px;