$height-nav: 72px;

$margin-grid-mobile: 32px;
$margin-grid-tablet: 48px;
$margin-grid-desktop: 64px;

$margin-post-mobile: 64px;

$gutter-grid-mobile: 32px;
$gutter-grid-tablet: 32px;
$gutter-grid-desktop: 32px;

$spacing-little: 6px;
$spacing-small: 12px;
$spacing-medium: 24px;
$spacing-big: 48px;

$icon-size: 24px;
$icon-container: 48px;

$card-inline-size: 300px;
$card-block-size: 240px;
$card-info-min-inline-size: 150px;
$card-info-max-inline-size: 150px;

$button-inline-size: 48px;

$block-size-music-hero: 310px;
$block-size-card-song: 80px;

$thumbnail-size: 60px;

$height-blog-entry: 125px;

$icon-tech-container: 90px;
$icon-tech-size: 60px;

/* grid responsive */
$height-row-blog-entry-tablet: 80px;
$minmax-grid-column-blog: minmax(100px, 150px);
$max-inline-size-column: 750px;
/* --- */

$max-inline-size-text: 600px;
$column-gap-galery: 5px;
$row-gap-galery: 5px;
