* {
    font-family: ubuntu-regular;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* place holder */
%body1 {
    color: white;
}

.text {
    @extend %body1;
}
.text-blog {
    @extend %body1;
}