.blog {
    width: 100%;
    padding-top: 60px;
}
.blog-entries {
    width: 100%;
    padding: 40px;
    margin: auto;
}
.blog-entry {
    display: flex;
    flex-direction: column;
}
.blog-entry-title {
    padding-bottom:  40px;
}
.blog-entry-extract {
    padding-bottom: 40px;
}
.blog-entry-more {
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
}
