.webdev {
    width: 100%;
    text-align: center;
}
.presentation {
    padding-top: 30px;
}
.presentation p {
    padding: 40px;
    font-size: 30px;
    font-weight: bold;
    }
.skills {
    padding: 30px;
}
.skills h1 {
    padding-bottom: 30px;
    text-transform: uppercase;
}
.skills p {
    padding-bottom: 20px
}
.skills .p-subtitles {
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: bold;
}
.technologies {
    word-spacing: 5px;
    line-height: 1.5rem ;
} 
.skills .lists li {
    list-style: none;
}
.works-title {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 20px;
}
.work-list a {
    text-decoration: none;
    color: black;
}
.work-list li {
    padding-bottom: 20px;
}