extend ./component/index-template.pug
block meta
    +head('About')
block nav-menu 
    include ./component/menu.pug
    include ./component/nav.pug
block content
    .section-about
        h1.section-main-title About
        p.section-main-text I define my self as an multidementional artist: Musician, Producer, Guitarrist, Bassits, Singer, Mixing and Master engineer. Photographer, filmaker, editor, colorist.
        p.section-main-text I love the digital world.
        p.section-main-text Runner, almost Vegetarian.
    .about-galery
block script
    +script('/index.js', 'module')