extend ./component/index-template.pug
block meta
    +head('Audiovisual')
block nav-menu 
    include ./component/menu.pug
    include ./component/nav.pug
block content 
    -var n = 1
    section.section-audiovisual
        while n < 23
            .img-container 
                img(src=`./img/quickgalery/quickgaleryimages-${n++}.jpg`, alt="social photgraphy")
block script
    +script('/index.js', 'module')