extend ./component/index-template.pug
mixin blog-entry
    a(href="./blog/post.html").blog-entry
        h1.blog-title Title 
        p.blog-extract Lorem ipsum dolor sit amet consectetur adipisicing elit.
        span.blog-date 1 Ene 2021.
block meta
    +head('Blog')
block content
    section.section-blog
        h1.section-main-title Blog
        .blog-entries
block script 
    +script('/index.js')