extend ./component/index-template.pug
mixin blog-entry
    a(href="./blog/post.html").blog-entry
        h1.entry-title Title 
        p.entry-extract Lorem ipsum dolor sit amet consectetur adipisicing elit.
        span.date 1 Ene 2021.
block content
    section.section.section-blog
        h1.section-main-title Blog
        .blog-entries
            +blog-entry
            +blog-entry
            +blog-entry
            +blog-entry