doctype html
html(lang="en")
    include ./global/head.pug 
    body 
        include ./organisms/header.pug
        include ./organisms/menu.pug
        include ./organisms/carousel.pug
        include ./templates/nav-desktop.pug
        include ./templates/post.pug
        include ./templates/quickgalery.pug
    script(src='./js/index.js', type='module')
