extend ./component/index-template.pug
block meta
    +head('Ariel Soto')
block nav-menu
    include ./component/menu.pug
    include ./component/nav.pug
block content
    include ./component/main.pug
    include ./component/skill.pug
    include ./component/project.pug
    .modal#modal
block script
    +script('/index.js', 'module')