extend ./component/index-template.pug
block meta
    +head('Ariel Soto')
block content
    include ./component/main.pug
    include ./component/skill.pug
    include ./component/project.pug
block script
    +script('./index.js')