@font-face {
  font-family: proximaNova;
  src: url(./arc/proxima/ProximaNova-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: proximaNova;
  src: url(.//arc/proxima/ProximaNovaThin.otf);
  font-weight: lighter;
}
@font-face {
  font-family: proximaNova;
  src: url(./arc/proxima/Proxima\ Nova\ Bold.otf);
  font-weight: bold;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-darkgrey1: #333;
  --color-darkgrey2: #666666;
  --color-darkgrey3: #999999;
  --color-lightgrey1: #e7e7e7;
  --color-lightgrey2: #dfdfdf;
  --color-lightgrey3: #e2e2e2;
  --color-yellow1: #fff159;
  --color-yellow2: #ffe600;
  --color-yellow3: #d9cd4b;
  --color-blue1: #3483fa;
  --color-blue2: #1259c3;
  --color-green1: #39b54a;
  --color-green2: ;
  --color-box-shadow: rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: proximaNova;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 0.4px;
}
.header-mobile {
  display: none;
}
.header div a,
.header div div a {
  text-decoration: none;
}
.header-container {
  width: 100%;
  height: 100px;
  background-color: var(--color-yellow1);
}
.header {
  display: grid;
  grid-template-columns: 180px 3fr 1fr;

  width: 100%;
  max-width: 1200px;
  height: 92px;

  margin: 0 auto;
  padding: 10px 10px 0;
}
.navbar-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
}
.logo-ml {
  display: inline-block;
  position: relative;
  width: 134px;
  height: 34px;

  background: url(.//arc/logo__large_plus.png) no-repeat center;

  text-indent: -999px;
}
.navbar-left__bottom {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;

  height: 40px;
  padding: 2px;
}
.navbar-left__bottom:hover {
  box-shadow: 0 0 0 1px var(--color-box-shadow);
  border-radius: 2px;
}
.navbar-left__bottom img {
  grid-row: 1 / 3;
  align-self: center;
  width: 22px;
  height: 22px;
}
.navbar-left__bottom--sendto {
  display: inline-block;
  align-self: self-end;

  padding-top: 4px;
  padding-left: 6px;

  font-size: 12px;
  font-weight: lighter;

  color: var(--color-black);
}
.navbar-left__bottom--location {
  display: inline-block;
  padding-left: 6px;

  font-size: 14px;
  font-weight: normal;
  color: var(--color-black);
}
.navbar-mid {
  justify-self: left;
  display: grid;
  grid-template-rows: 45px 45px;
  width: 100%;
}
.navbar-mid__search {
  display: flex;

  width: 100%;
  max-width: 600px;
  height: 39px;

  background-color: var(--color-white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.navbar-mid input {
  width: 100%;
  max-width: 600px;
  height: 39px;
  border: none;

  padding: 7px 60px 9px 15px;

  font-size: 16px;
  color: #333;
}
.navbar-mid input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}
.navbar-mid input:focus {
  outline: none;
}
.navbar-mid__search button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 39px;
  height: 39px;

  border: none;
  background: rgba(0, 0, 0, 0);
}
.navbar-mid__search button:before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 1px;
  height: 20px;

  content: "";
  background-color: var(--color-box-shadow);
}

.navbar-mid__search button img {
  width: 15px;
  height: auto;
}
.navbar-mid__search button:focus {
  outline: none;
}
.navbar-mid__menu {
  position: relative;
  align-self: flex-end;
  padding-bottom: 10px;
}
.navbar-mid__menu a {
  margin-right: 18px;
  color: var(--color-darkgrey1);
  font-size: 14px;
}
.navbar-mid__menu > a:hover {
  transition: color 0.2s ease-out;
  color: #000;
}
.navbar-right {
  display: grid;
  grid-template-rows: 1fr 1fr;

  padding-right: 10px;

  width: 100%;
  height: 100%;
}
.navbar-right--payment img {
  max-width: 340px;
  max-height: 39px;
}
.navbar-bottom__login {
  justify-self: flex-end;
  align-self: flex-end;
  padding-bottom: 10px;
}
.navbar-bottom__login a {
  margin: 0 10px;

  color: var(--color-darkgrey1);
  font-size: 14px;
}
.navbar-bottom__login > a:hover {
  transition: color 0.2s ease-out;
  color: var(--color-black);
}
.navbar-bottom__login--shop img {
  width: 20px;
  height: 20px;
}

.navbar-bot__menu--categories:hover + .navcategory,
.navcategory:hover {
  transition: visibility 2s ease-out;
  visibility: visible;
}
.navcategory {
  display: block;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: 28px;
  left: -100px;
  width: 250px;

  padding: 22px 0;
  background-color: var(--color-darkgrey1);
  border-radius: 5px 0 0 5px;
  transition: visibility 0.3s ease-out;
}
.navcategory li {
  display: flex;
  flex-direction: column;
}
.navcategory > ul > li > a {
  margin: 0;
  padding-left: 36px;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  color: var(--color-white);
}
.navcategory > ul > li > a:hover {
  background: var(--color-blue1);
}
.navcategory-select:hover + .navcategory-details,
.navcategory-details:hover {
  display: block;
}

.navcategory-details {
  display: none;
  position: absolute;
  top: 0;
  left: 250px;

  width: 740px;
  height: 620px;

  padding: 46px;
  background-color: var(--color-white);
  border-radius: 0 5px 5px 0;
}
.navcategory-details div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.navcategory-details h2 {
  margin: 0 0 24px;
  padding: 0 0 12px;

  font-size: 20px;
  line-height: 1;
  color: var(--color-darkgrey1);
  border-bottom: 1px solid var(--color-box-shadow);
}
.navcategory-details ul {
  display: flex;
  flex-direction: column;

  width: 192px;
  margin-bottom: 24px;
}
.navcategory-details li {
  display: inline-block;
}
.navcategory-details a {
  display: inline-block;
  font-size: 14px;
  line-height: 1.85;

  color: var(--color-darkgrey3);
}
.navcategory-details ul li:first-child a {
  font-size: 15px;
  font-weight: bold;
  color: var(--color-darkgrey1);
}
.navcategory-details ul li:first-child a:hover,
.navcategory-details a:hover {
  color: var(--color-blue1);
}

.carousel {
  position: relative;

  width: 100%;
  max-height: 340px;

  background-color: var(--color-lightgrey1);
}
.carousel__viewport {
  display: flex;
  position: relative;

  width: 100%;
  max-height: 340px;
  margin: 0 auto;

  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  list-style: none;
}
.carousel_slide {
  width: 100%;
  height: auto;
  position: relative;
  scroll-snap-align: center;
}
.carousel_slide img {
  width: 100vw;
  height: 100%q;
  object-fit: cover;
}

.pre,
.nxt {
  display: inline-block;
  position: absolute;

  top: 50%;

  width: 40px;
  height: 80px;

  border-radius: 5px;
  background: var(--color-white);

  transform: translateY(-50%);
}
.nxt {
  right: 0;
  background-image: url(./arc/right-arrow.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.pre {
  left: 0;
  background-size: 20px 20px;
  background-image: url(./arc/left-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.dot {
  display: inline-block;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  background: var(--color-white);
  box-shadow: 1px 1px 1px 1px var(--color-box-shadow);
}
.navdots {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;

  width: 150px;
  margin: 0 auto;
}

.main {
  background-color: var(--color-lightgrey1);
  padding-top: 25px;
}
.mediosdepago {
  padding: 0 10px;
}
.mediosdepago__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  max-width: 1200px;
  height: 100px;

  margin: 0 auto;

  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 var(--color-box-shadow);

  overflow: hidden;
}
.mediosdepago__item {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;

  width: 100%;
  padding: 20px;
}
.mediosdepago--icon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  justify-self: center;
  align-self: center;

  margin-right: 15px;
}
.mediosdepago--title {
  display: inline-block;
  align-self: flex-end;
  font-size: 18px;
  font-weight: normal;
}
.mediosdepago--seemore {
  text-decoration: none;
  font-size: 14px;

  line-height: 1.5;
  color: var(--color-blue1);
}
.mediosdepago--seemore:hover {
  color: var(--color-blue2);
}
.mediosdepago__view-more {
  border-left: 1px solid var(--color-box-shadow);
}

.ofert {
  width: 100%;
  margin: 60px 0;
  height: 382px;
  padding: 0 10px;
}
.ofert-titles {
  max-width: 1200px;
  margin: 0 auto 20px;
}
.ofert h2 {
  display: inline-block;
  font-size: 26px;
  color: var(--color-darkgrey2);
}
.ofert a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--color-blue1);
}
.ofert a:hover {
  color: var(--color-blue2);
}
.cards__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  position: relative;

  width: 100%;
  max-width: 1200px;
  height: 100%;

  margin: 0 auto;

  column-gap: 8px;

  overflow: hidden;
}

.card {
  display: inline-block;

  width: 224px;
  height: 330px;

  position: relative;

  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 1px 1px 1px var(--color-box-shadow);

  cursor: pointer;
}
.card:hover {
  height: 360px;
  transition: height 0.1s ease-out;
  transition: box-shadow 0.1s ease-out;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2);
}
.card:hover .ofert__card--discount {
  display: block;
}
.card:hover .ofert__card--description {
  display: inline-block;
}
.ofert__card--img-container {
  margin: 0;
  max-width: 224px;
  height: 224px;

  text-align: center;
}
.ofert__card--img-container img {
  object-fit: cover;
}
.ofert__card--bottom {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.ofert__card--truck-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 80%;
  bottom: 18px;

  z-index: 10;

  width: 36px;
  height: 36px;

  background-color: var(--color-white);
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 50%;
}
.ofert__card--truck-icon {
  width: 20px;
  height: 20px;

  fill: var(--color-green1);
}
.ofert__card--txt-container {
  margin-top: -10px;
  padding: 0 24px;
}
.ofert__card--discount {
  display: none;

  text-decoration-line: line-through;

  text-align: left;
  font-size: 14px;
  font-weight: 100;
  color: var(--color-darkgrey3);
}
.ofert__card--price {
  display: inline-block;

  margin-top: 6px;

  font-size: 22px;
  color: var(--color-darkgrey1);
}
.ofert__card--off {
  display: inline-block;
  font-size: 14px;
  color: var(--color-green1);
}
.ofert__card--description {
  display: none;
  margin-top: 6px;

  font-size: 13px;
  line-height: 1.3;
  color: var(--color-darkgrey2);
}
.ofert__card--payment {
  display: block;
  font-size: 14px;
  color: var(--color-darkgrey1);
}

.advertising {
  margin: 60px 0;
  padding: 0 10px;
}
.advertisings__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;

  max-width: 1200px;
  height: 265px;

  margin: 0 auto;
}
.advertising-titles {
  max-width: 1200px;
  margin: 0 auto 20px;
}
.advertising-titles h2 {
  display: inline-block;
  font-size: 26px;
  color: var(--color-darkgrey2);
}
.advertising__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 1px 1px 1px var(--color-box-shadow);

  cursor: pointer;

  overflow: hidden;
}
.advertising__container:hover {
  transition: box-shadow 0.1s ease-out;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2);
}
.advertising__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;

  margin: 0 32px 0 0;
  padding: 32px 0 32px 32px;
}
.advertising__info--title {
  font-size: 12px;
  letter-spacing: 4px;
}
.advertising__info--description {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}
.advertising__info--seemore {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 96px;
  height: 36px;

  margin-top: 13px;
  padding: 9px 10px;

  border-radius: 2px;

  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-blue1);
}
.advertising__info--seemore:hover {
  transition: ease-out 0.2s background-color;
  background-color: var(--color-blue2);
}

.advertising__info--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stores {
  margin: 60px 0 0;
  padding: 0 10px;
}
.store__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 8px;

  max-width: 1200px;
  margin: 0 auto;

  overflow: hidden;
}
.stores-titles {
  max-width: 1200px;
  margin: 0 auto 20px;
}
.stores-titles h2 {
  display: inline-block;
  font-size: 26px;
  color: #666666;
}
.stores-titles a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--color-blue1);
}
.stores a:hover {
  color: var(--color-blue2);
}
.store__card {
  min-width: 284px;
  height: 340px;

  text-align: center;

  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 1px 1px 1px var(--color-box-shadow);

  cursor: pointer;
}
.store__card:hover {
  transition: box-shadow 0.1s ease-out;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2);
}
.store__card:hover > .store__card--seeshop {
  color: var(--color-blue1);
}
.store__card--img {
  min-width: 284px;
  max-width: 100%;
  height: 100%;
  max-height: 95px;
  object-fit: cover;
}
.store__card--logo {
  display: inline-block;
  position: relative;
  top: -30px;
  right: 0;
  left: 0;
  width: 80px;
  height: 80px;

  border-radius: 10px;
  box-shadow: 1px 1px 8px 5px var(--color-box-shadow);
}
.store__card--title {
  display: block;

  font-size: 24px;
  font-weight: bold;
  margin: -16px 0 16px;
  padding: 0 16px;
}
.store__products-container {
  width: 100%;
  height: 74px;
}
.store-products {
  border-radius: 5px;
  border: 1px solid var(--color-box-shadow);
}
.store__card--seeshop {
  display: block;

  margin: 15px 0 0;
  text-decoration: none;
  font-size: 15px;
  color: var(--color-darkgrey3);
  font-weight: bold;
}

.main2 {
  padding-bottom: 30px;
  background-color: var(--color-lightgrey2);
}
.oferts2 {
  max-width: 1200px;
  height: 100%;

  margin: 0 auto;
  padding: 60px 10px 0;
}
.ofert2-titles {
  max-width: 1200px;
  margin: 0 auto 20px;
}
.ofert2-titles h1 {
  display: inline-block;
  font-size: 26px;
  color: var(--color-darkgrey2);
}
.oferts2__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.ofert2__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-white);
  max-height: 256px;

  cursor: pointer;

  overflow: hidden;
}
.ofert2__card:hover {
  transition: box-shadow 0.1s ease-out;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2);
}
.ofert2__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;

  margin: 0 32px 0 0;
  padding: 32px 0 32px 32px;
}
.ofert2__card--title {
  font-size: 12px;
  letter-spacing: 4px;
}
.ofert2__card--description {
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}
.ofert2__card--seemore {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 96px;
  height: 36px;

  margin-top: 13px;
  padding: 9px 10px;

  border-radius: 2px;

  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-blue1);
}
.ofert2__card--seemore:hover {
  transition: ease-out 0.2s background-color;
  background-color: var(--color-blue2);
}
.ofert2__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories {
  max-width: 1200px;
  height: 100%;
  margin: 60px auto;
  padding: 0 10px;
}
.categories-titles {
  max-width: 1200px;
  margin: 0 auto 20px;
}
.categories-titles h2 {
  display: inline-block;
  font-size: 26px;
  color: var(--color-darkgrey2);
}
.categories__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 170px 170px;

  background-color: var(--color-white);
}
.category__box {
  display: grid;
  grid-template-rows: 2fr 1fr;

  padding: 12px;

  border-style: solid;
  border-width: 2px;
  border-color: var(--color-box-shadow);
  border-left: unset;
  border-top: unset;

  cursor: pointer;
}
.category__box:hover {
  background-color: var(--color-blue1);
}
.category__box:hover > .category__box--icon {
  fill: var(--color-white);
}
.category__box:hover > .category__box--title h2 {
  color: var(--color-white);
}
.category__box--icon {
  justify-self: center;
  align-self: flex-end;
  width: 48px;
  height: 48px;

  fill: var(--color-blue1);
}
.category__box--title h2 {
  margin: 10px 0 0;
  text-align: center;

  font-size: 15px;
  color: var(--color-darkgrey1);
}
.section-info {
  padding: 50px 0;
}
.info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}
.info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px 45px 20px;
}
.info-container .info:nth-child(2):before {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;

  width: 1px;
  height: 65px;

  content: "";
  background-color: var(--color-lightgrey3);
}
.info-container .info:nth-child(2):after {
  display: block;
  position: absolute;
  top: 40%;
  right: 0;

  width: 1px;
  height: 65px;

  content: "";
  background-color: var(--color-lightgrey3);
}
.info h1 {
  margin-top: 16px;

  font-size: 20px;
}
.info p {
  margin-top: 10px;

  font-size: 15px;
  color: var(--color-darkgrey3);
}
.info a {
  margin-top: 10px;

  font-size: 14px;
  color: var(--color-blue1);
  text-decoration: none;
}
.info a:hover {
  color: var(--color-blue2);
}
.regret {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 1200px;
  margin: 15px auto 80px;
}
.regret__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0 20px;
  padding: 16px;
  border: 1px solid var(--color-box-shadow);
  border-radius: 5px;
}
.regret__container h2 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.regret__container a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #3483fa;
}

.information {
  display: block;
  position: relative;
}
.information--button {
  display: inline-block;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);

  padding: 0 20px;

  width: 152px;

  font-size: 13px;
  line-height: 32px;

  color: var(--color-darkgrey2);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgrey3);
  border-bottom: none;
  border-radius: 5px 5px 0 0;

  cursor: pointer;
}
.information--button:focus {
  outline: none;
  background: var(--color-lightgrey1);
}
.information--button i:after {
  display: inline-block;
  content: "";
  width: 9px;
  height: 9px;

  background-image: url(.//arc/right-arrow.svg);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}
.information--button:focus + .information__content {
  display: block;
}
.information--button:focus i:after {
  transform: rotate(90deg);
}
.information__content {
  display: none;
  background: var(--color-lightgrey1);
}
.information__container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  min-height: 260px;

  margin: 0 auto;
  padding: 0 110px;

  text-align: left;
}
.information__list {
  display: flex;
  flex-direction: column;

  margin: 46px 0;
}
.information__list h3 {
  margin-bottom: 14px;

  font-size: 14px;
  font-weight: bold;
  color: var(--color-darkgrey1);
}
.information__list a {
  line-height: 1.6;
  text-decoration: none;
  font-size: 14px;
  color: var(--color-darkgrey3);
}
.information__list a:hover {
  text-decoration: underline;
}
.footer {
  height: 90px;

  border-top: 1px solid var(--color-lightgrey3);
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 10px;
}
.footer__info--links a,
.footer__info span,
.footer__info span p {
  line-height: 15px;
}
.footer__info--links a {
  margin-right: 15px;

  text-decoration: none;
  font-size: 13px;
  color: var(--color-darkgrey1);
}
.footer__info--links a:hover {
  transition: color 0.2s ease-out;
  color: var(--color-black);
}
.footer__info small,
.footer__info p {
  margin-top: 5px;
  font-size: 12px;
  color: var(--color-darkgrey3);
}
.footer__app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__app button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 260px;

  padding: 0 8px;

  font-size: 12px;
  line-height: 30px;

  color: var(--color-darkgrey1);
  border-radius: 5px;
  background-color: var(--color-yellow2);
  border: 1px solid var(--color-yellow3);
}
.footer__app button:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .navbar-bottom__menu--tiendas {
    display: none;
  }
  .store__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .store__card:last-child {
    display: none;
  }
  .categories__container {
    grid-template-columns: repeat(6, 1fr);
  }
  .category__box:nth-child(-n + 2) {
    display: none;
  }
}
@media (max-width: 1100px) {
  .navbar-bottom__menu--supermercado {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
  .header-container {
    height: auto;
  }
  .header-mobile {
    display: block;
    width: 100%;
    height: 87px;
  }
  .header-mobile__nav {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr) repeat(
        2,
        min-content
      );

    position: relative;

    padding: 6px 10px 4px;
  }
  .logo-ml-small {
    align-self: center;
    display: inline-block;
    width: 44px;
    height: 32px;

    margin-right: 10px;
    background-image: url(.//arc/logo-ml-small.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .search {
    align-self: center;
    display: flex;

    height: 32px;

    background: var(--color-white);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  .search input {
    display: inline-block;
    flex-grow: 1;

    height: 100%;

    border: none;
  }
  .search input:focus {
    outline: none;
  }
  .btn-search {
    display: inline-block;
    width: 45px;
    height: 100%;
    padding: 8px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  .btn-search img {
    display: inline-block;
    height: 100%;
  }
  .btn-menu {
    display: flex;

    padding: 9px;
    width: 40px;
    height: 40px;

    background: rgba(0, 0, 0, 0);
    border: none;
  }
  .btn-menu:focus {
    outline: none;
  }
  .btn-menu:focus + .nav-mobile {
    display: block;
  }
  .btn-menu img {
    width: 100%;
    height: auto;
  }
  .shop {
    padding: 9px;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .shop img {
    width: 100%;
    height: auto;
  }
  .shoping {
    width: 100%;
    height: 40px;

    border-top: 1px solid var(--color-box-shadow);
  }
  .shoping a {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
    height: 38px;

    padding: 0 28px;

    font-size: 13px;
    color: var(--color-darkgrey2);
  }
  .shoping a:before {
    display: inline-block;
    position: absolute;
    left: 0;

    margin-left: 10px;

    width: 15px;
    height: 15px;

    content: "";
    background: url(.//arc/placeholder.svg);
  }
  .shoping a:after {
    display: inline-block;
    position: absolute;
    right: 0;

    margin-right: 20px;

    width: 10px;
    height: 10px;

    content: "";
    background: url(./arc/right-arrow.svg);
    filter: opacity(0.3);
  }
  .nav-mobile {
    display: none;
    position: absolute;
    top: 45px;
    z-index: 99;
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    box-shadow: 0 5px 5px 0 var(--color-box-shadow);
  }
  .nav-mobile__login {
    padding: 18px 24px;
  }
  .nav-mobile__user {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    margin-right: 16px;
    width: 56px;
    height: 56px;

    border-radius: 50%;
    background-color: var(--color-lightgrey3);
  }
  .nav-mobile__login h2 {
    margin: 4px 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-darkgrey1);
  }
  .nav-mobile__login p {
    font-size: 14px;
    color: var(--color-darkgrey1);
  }
  .nav-mobile__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 14px;
  }
  .nav-mobile--buttons {
    display: inline-block;
    width: 45%;
    height: 40px;
    padding: 12px 0;

    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
  }
  .nav-mobile__buttons--login {
    margin-right: 4px;
    color: var(--color-white);
    background-color: var(--color-blue1);
  }
  .nav-mobile__buttons-singin {
    color: var(--color-blue1);
    border: 1px solid var(--color-blue1);
  }
  .nav-mobile ul {
    padding: 16px 0;
    border-top: 1px solid var(--color-box-shadow);
  }
  .nav-mobile li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 39px;

    margin: 4px 0;
  }
  .nav-mobile ul a {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 14px;
    padding: 8px 20px 8px 26px;
    text-decoration: none;
  }
  .nav-mobile ul a svg {
    margin-right: 20px;
    width: 20px;
    height: 20px;
  }
  .nav-mobile ul a:hover {
    background: var(--color-lightgrey1);
    color: var(--color-blue1);
  }
  .nav-mobile ul a:hover > svg {
    fill: var(--color-blue1);
  }

  .categories__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .category__box:nth-child(-n + 4) {
    display: none;
  }
  .information,
  .footer__info--links,
  .footer__app {
    display: none;
  }
  .footer__container {
    grid-template-columns: 1fr;
  }
  .footer__info {
    justify-self: center;
    padding: 0 30px;
  }
}
@media (max-width: 938px) {
  .mediosdepago__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .mediosdepago__item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 899px) {
  .store__container {
    grid-template-columns: 1fr 1fr;
  }
  .store__card:nth-child(1) {
    display: none;
  }
}
@media (max-width: 862px) {
  .categories__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .category__box:nth-child(-n + 6) {
    display: none;
  }
}
@media (max-width: 768px) {
  .mediosdepago__container {
    grid-template-columns: 1fr 1fr;
  }
  .mediosdepago__item:nth-child(2) {
    display: none;
  }
  .categories__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .category__box:nth-child(-n + 8) {
    display: none;
  }
}
@media (max-width: 564px) {
  .mediosdepago__container {
    grid-template-columns: 1fr;
  }
  .mediosdepago__item:last-child {
    display: none;
  }
  .mediosdepago__item:first-child {
    justify-self: center;
    width: inherit;
  }
  .info-container {
    display: block;
  }
  .info-container .info:nth-child(2):before,
  .info-container .info:nth-child(2):after {
    display: none;
  }
  .categories__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .category__box:nth-child(-n + 10) {
    display: none;
  }
}
@media (max-width: 392px) {
  .categories__container {
    grid-template-columns: 1fr;
  }
  .category__box:nth-child(-n + 12) {
    display: none;
  }
}
