
<article class="post">
  <h1>Titulo</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, expedita ipsum commodi cupiditate magni placeat, laudantium repellendus itaque corrupti eligendi ea alias! Deserunt animi beatae hic quisquam laboriosam vero omnis.</p>
  <aside class="blog-menu">
    <ul class="blog-index">
      <li>post 1</li>
      <li>post 2</li>
      <li>post 3</li>
      <li>post 4</li>
    </ul>
  </aside>
  <footer class="contact">
    <div class="name">
      <h1>Ariel Esteban Soto</h1>
    </div>
    <div class="info"></div>
  </footer>
</article>