.art
    nav.nav-art
        ul.art-categories
            li
                a(href="#").quickportfolio Overview
            li
                a(href="#").music Music 
            li 
                a(href="#").photo Photography
            li 
                a(href="#").film Filmaking
    main.main-art
        include ../templates/quickgalery.pug
        