.blog
    include ../molecules/blog-entry.pug
    include ../molecules/blog-entry.pug
    include ../molecules/blog-entry.pug
    include ../molecules/blog-entry.pug
    include ../molecules/blog-entry.pug
    include ../molecules/blog-entry.pug

