section.webdev 
    .presentation
        p "Quiero ser parte de lo que mueve al mundo".
    .skills
        h1 Front-End Developer
        p.p-subtitles Technologies
        p.technologies HTML, Pug, CSS, SCSS, SASS, JS, REACT, REACT NATIVE
        p.p-subtitles Dev Tools
        ul.lists
            li Git Hub
            li Visual Studio Code
            li PrePros
    .works
        .works-title
            h1 works
        ul.work-list
            li
                a(href="#") Personal Web
            li
                a(href="#") Alguna APP 