@use 'typography';
@font-face {
    font-family: ubuntu;
    src: url(./font/Ubuntu-Regular.ttf);
    font-weight: typography.$regular;
  }

@font-face {
    font-family: ubuntu;
    src: url(./font/Ubuntu-Light.ttf);
    font-weight: typography.$lighter;
  }
  @font-face {
    font-family: ubuntu;
    src: url(./font/Ubuntu-Medium.ttf);
    font-weight: typography.$medium;
  }
  @font-face {
    font-family: ubuntu;
    src: url(./font/Ubuntu-Bold.ttf);
    font-weight: typography.$bold;
  }
