@use './size';
$light: 100;
$normal: 400;
$medium: 500;
$bold: 600;

$line-height: 1.4;

$font-size-h1: 98px;
$font-size-h2: 60px;
$font-size-h3: 49px;
$font-size-h4: 35px;
$font-size-h5: 24px;
$font-size-h6: 20px;
$font-size-sub1: 16px;
$font-size-sub2: 14px;
$font-size-sub1-desktop: 20px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-button: 14px;

h1 {
    font-size: $font-size-h1;
    letter-spacing: -1.5px;
    line-height: $font-size-h1 * $line-height;
    font-weight: $light;
}
h2 {
    font-size: $font-size-h2;
    letter-spacing: -0.5px;
    line-height: $font-size-h2 * $line-height;
    font-weight: $light;
}
h3 {
    font-size: $font-size-h3;
    letter-spacing: initial;
    line-height: $font-size-h3 * $line-height;
    font-weight: $normal;
}
h4 {
    font-size: $font-size-h4;
    letter-spacing: 0.25px;
    line-height: $font-size-h4 * $line-height;
    font-weight: $normal;
}
h5 {
    font-size: $font-size-h5;
    letter-spacing: -1.5px;
    line-height: $font-size-h5 * $line-height;
    font-weight: $normal;
}
h6 {
    font-size: $font-size-h6;
    letter-spacing: 0.15px;
    line-height: $font-size-h6 * $line-height;
    font-weight: $medium;
}
.subtitle1 {
    font-size: $font-size-sub1;
    letter-spacing: 0.15px;
    line-height: $font-size-sub1 * $line-height;
    font-weight: $normal;
}
.subtitle2 {
    font-size: $font-size-sub2;
    letter-spacing: 0;
    line-height: $font-size-sub2 * $line-height;
    font-weight: $medium;
}
p, .body1 {
    font-size: $font-size-body1;
    letter-spacing: .5px;
    line-height: $font-size-body1 * $line-height;
    font-weight: $normal;
    margin-block-end: size.$spacing-medium;
}
.body2 {
    font-size: $font-size-body2;
    letter-spacing: 0.25px;
    line-height: $font-size-body2 * $line-height;
    font-weight: $normal;
}
button, .btn {
    font-size: $font-size-button;
    letter-spacing: 1.25px;
    line-height: $font-size-button * $line-height;
    font-weight: $medium;
    text-transform: uppercase;
}