.blog-entries 
    .blog-entry 
        h1.blog-entry-title BLOG ENTRY
        span.blog-entry-extract Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis nisi reprehenderit nam officia facilis consequatur sequi numquam soluta officiis a quidem ipsum saepe, suscipit alias, quae quibusdam? Enim, rerum.
        a(href="#").blog-entry-more See More
        span.blog-entry-date 01-04-2021