.main-info           
    .info-about
        a(href="#") HOME
        a(href="#") ABOUT
    .info-social
        ul.social-media
            a(href="#") in
            a(href="#") IG
            a(href="#") IG.audiovisual
            a(href="#") IGfotografia 
        ul.phone
            li PHONE
            li +54 9 11 2243 1005
        ul.addres 
            li ADRRESS
            li Argentina, Buenos Aires, Pilar.  
        ul.mail
            li EMAILS
            li arielestebansoto@gmail.com
            li arielestebansoto.av@gmail.com (audiovisual)
            li airlesotofotografia@gmail.com (fotografia eventos) 