@font-face {
    font-family: oxygen;
    src: url(./font/Oxygen-Regular.ttf);
  }
  @font-face {
    font-family: oxygenLight;
    src: url(./font/Oxygen-Light.ttf);
  }
  @font-face {
    font-family: oxygenBold;
    src: url(./font/Oxygen-Bold.ttf);
  }