@use '../base/var';
.section {
    @extend %section;
}
.blog-entries {
    inline-size: 100%;
    block-size:  100%;
}
.blog-entry {
    @extend %style-none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 100%;
    block-size: var.$height-blog-entry;
    margin-block-end: var.$spacing-medium;
}
.blog-title{
    @extend %blog-title;
}
.blog-extract {
    @extend %blog-extract;
    text-align: center;
}
.blog-date {
    @extend %blog-date;
    text-align: right;
}