@use '../base/var';
.menu {
    display: none;
    position: absolute;
    z-index: 50;

    inline-size: 100vw;
    block-size: 100vh;
    
    padding-block-start: var.$height-nav;
    padding-inline: var.$margin-grid-mobile;

    background: var.$color-dark;
}
.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    block-size: 50%;
    padding-block-end: var.$spacing-big;
}
.menu-list li {
    @extend %list-style;
}
.menu-link {
    @extend %style-none;
    @extend %menu-link;
    text-transform: uppercase;
}
.menu-contact {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.about {
    margin-block-end: var.$spacing-small;
}
.about a {
    @extend %style-none;
    @extend %menu-subtitle;
}
.social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    block-size: var.$icon-container * 1.5;
    margin-block-end: var.$spacing-small;
}
.icon {
    inline-size: var.$icon-size;
    block-size: var.$icon-size;
    background-color: grey;
    margin: var.$icon-container / 4;
}
.contact-me {
    block-size: 100%;
}
.contact-me a {
    @extend %style-none;
    @extend %button;
    display: inline-block;
    padding: var.$button-inline-size / 4 ;
}
.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-me span {
    @extend %text;
    margin-block-end: var.$spacing-medium;
}