@use './base/var';
.nav {
    display: grid;
    @extend %template-columns-mobile-1;
    position: fixed;
    z-index: 100;
    top: 0;
    
    inline-size: 100%;
    block-size: var.$height-nav;
    background: rgba(0, 0, 0, 0);
    @include var.breakpoint(var.$breakpoint-tablet) {
        grid-template-columns: repeat(4, 4fr);
        margin: 0 var.$margin-grid-tablet;
        column-gap: var.$gutter-grid-tablet;
    }
}
.nav-icon {
    grid-column: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var.$color-font-white;
}
.nav-icon a {
    @extend %style-none;
    display: flex;
    justify-content: center;
    align-items: center;

    width: var.$icon-container;
    height: var.$icon-container;
    
    text-align: center;
    font-size: var.$icon-size;
    text-transform: uppercase;
}
.nav-menu {
    grid-column: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav-menu span {
    color: var.$color-font-white   
}