@use '../base/var';

.post {
    @include var.breakpoint(var.$breakpoint-tablet) {
        display: grid;
        grid-template-columns: var.$minmax-grid-column-blog minmax(300px, var.$max-inline-size-column);
        grid-template-rows: var.$height-row-blog-entry-tablet;
        justify-content: center;
    }
}
.post-title{
    @extend %blog-title;
    margin-block-end: var.$spacing-medium;
    margin-block-start: var.$spacing-small;
    @include var.breakpoint(var.$breakpoint-tablet) {
        grid-column: 2 / 3;
        align-self: center;
    }
}
.post-extract {
    @extend %blog-extract;
    text-align: center;
    margin-block-end: var.$spacing-medium;
    @include var.breakpoint(var.$breakpoint-tablet) {
        grid-column: 2 / 3;
        margin-block-end: var.$spacing-big;
    }
    @include var.breakpoint(var.$breakpoint-desktop) {
        margin-block-start: var.$spacing-big;
        margin-block-end: var.$spacing-big * 1.5;
    }
}
.post-date {
    @extend %blog-date;
    text-align: right;
    @include var.breakpoint(var.$breakpoint-tablet) {
        text-align: initial;
        grid-column: 1 / 2;
        place-self: center;
    }
}
.post-text {
    @extend %blog-text;
    margin-block-end: var.$spacing-medium;
    max-inline-size: var.$max-inline-size-text;
    @include var.breakpoint(var.$breakpoint-tablet) {
        grid-column: 2 / 3;
    }
}