@use '../base/var';
.section-project {
    @extend %section;
}
.project-container {
    display: grid;
    row-gap: var.$spacing-medium;
    @include var.breakpoint(var.$breakpoint-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include var.breakpoint(var.$breakpoint-desktop) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: var.$spacing-big;
    }
}
.card-project {
    @extend %style-none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    inline-size: 100%;

    @include  var.breakpoint(var.$breakpoint-tablet) {
        flex-direction: column;
    }
}
.card-project-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    block-size: 100%;
    inline-size: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-in;
}
.card-project:hover > .card-project-hover  {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card-project__image {
    min-block-size: var.$card-block-size;
    min-inline-size: var.$card-inline-size;
    inline-size: 50%;
    block-size: 100%;
    @include var.breakpoint(var.$breakpoint-tablet) {
        inline-size: 80%
    }
}
.card-project__image img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
}
.card-project__info {
    display: flex;
    flex-direction: column;
    place-items: center;
    inline-size: 50%;
    @include var.breakpoint(var.$breakpoint-tablet) {
        margin-block: var.$spacing-medium;
        inline-size: 100%;
    }
}
.card-project__info h1 {
    @extend %card-title;
    text-align: center;
}