.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.carousel__titles {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 10;

    color: white;
}
.carousel img {
    width: auto;
    height: 100%;
    position: relative;
    z-index: 1;
}