.nav a {
    text-decoration: none;
    color: white;
}
.nav li {
    list-style: none;
    
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav-category {
    margin: 0;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-right: 60px;
    font-size: 40px;
}
.nav {
    display: none;
    width: 100vw;
    height: max-content;
    padding: 120px 0 0;

    position: absolute;
    z-index: 100;
    
    background-color: black;
    color: white;
    
    font-size: 13px;
}
.nav-category a {
    display: block;
    padding-bottom: 20px;
}