/* grid responsive */
/* --- */
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Light.ttf);
  font-weight: 100;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: ubuntu;
  src: url(./font/Ubuntu-Bold.ttf);
  font-weight: 600;
}
.nav {
  inline-size: 90%;
}
@media only screen and (min-width: 600px) {
  .nav {
    inline-size: 85%;
  }
}
@media only screen and (min-width: 992px) {
  .nav {
    inline-size: 70%;
  }
}

* {
  font-family: ubuntu;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.nav-icon a {
  text-decoration: none;
}

.body {
  background: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  scrollbar-width: thin;
  scrollbar-color: black grey;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 1px solid grey;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  column-gap: 32px;
  position: fixed;
  z-index: 100;
  top: 0;
  inline-size: 100%;
  block-size: 72px;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (min-width: 600px) {
  .nav {
    grid-template-columns: repeat(4, 4fr);
    margin: 0 48px;
    column-gap: 32px;
  }
}

.nav-icon {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.nav-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}
@media only screen and (min-width: 600px) {
  .nav-icon a {
    font-size: 31.2px;
  }
}

.nav-menu {
  grid-column: 4/5;
  position: relative;
}

.nav-menu input,
.nav-menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-menu input {
  z-index: 50;
  inline-size: 48px;
  block-size: 48px;
  opacity: 0;
  cursor: pointer;
}

.nav-menu span {
  color: #ffffff;
  transition: opacity 1s ease-in-out;
}

.nav-menu span:nth-child(3) {
  opacity: 0;
}

.nav-menu input:checked ~ span:nth-child(2) {
  opacity: 0;
}

.nav-menu input:checked ~ span:nth-child(3) {
  opacity: 1;
}