body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(133, 206, 248, 0);
    border: 1px solid rgba(133, 206, 248, .5);
    border-radius: 4px;
    backdrop-filter: blur(7px);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(133, 206, 248, 0.2);
}
::-webkit-scrollbar-track {
    background: #0f2027;
    background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); 
}
body {
    min-height: 100vh;
    background: #0f2027;
    background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); 
    color: white;
}
.offcanvas {
    width: 75%;
    background-color: rgba(133, 206, 248, .3);
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, .5) ;
    
/*     height: 97%;
    margin: 0 auto;
 */    border-right: 1px solid rgba(255, 255, 255, 1);
    /* border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-radius: 0 0 15px 15px; */
}
