* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: oxygen;
  src: url(../../../arc/font/Oxygen-Regular.ttf);
}
@font-face {
  font-family: oxygenLight;
  src: url(../../../arc/font/Oxygen-Light.ttf);
}
@font-face {
  font-family: oxygenBold;
  src: url(../../../arc/font/Oxygen-Bold.ttf);
}
* {
  font-family: Oxygen;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}

.header-logo {
  align-self: center;
  letter-spacing: 3px;
}

.header-logo h1 {
  margin: 0;
  padding: 20px 0 20px 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header-menu {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon-menu svg {
  width: 20px;
  height: 20px;
  z-index: 100;
  fill: white;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav li {
  list-style: none;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav-category {
  margin: 0;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-right: 60px;
  font-size: 40px;
}

.nav {
  display: none;
  width: 100vw;
  min-height: 100vh;
  height: -webkit-max-content;
  height: max-content;
  padding: 120px 0 0;
  position: absolute;
  z-index: 100;
  background-color: black;
  color: white;
  font-size: 13px;
}

.nav-category a {
  display: block;
  padding-bottom: 20px;
}

.main-info {
  padding-left: 40px;
}

.main-info a {
  text-decoration: none;
  color: white;
}

.main-info li {
  list-style: none;
}

.main-info ul {
  margin: 0;
  padding: 0;
}

.main-info ul {
  width: 50%;
  padding-bottom: 40px;
  float: left;
}

.main-info ul li {
  padding-bottom: 20px;
  overflow-wrap: break-word;
}

.info-about {
  padding: 0 0 60px 0;
}

.info-about a {
  font-family: OxygenBold;
  font-size: 15px;
  color: #fff;
}

.info-about a:first-child {
  padding-right: 20px;
}

.info-social {
  display: flex;
  flex-wrap: wrap;
}

.info-social li {
  font-family: OxygenBold;
  font-size: 15px;
  color: white;
}

.info-social ul li:first-child {
  font-family: OxygenBold;
  font-size: 13px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.6);
}

.info-social li {
  padding-right: 20px;
}

.social-media {
  padding-bottom: 30px;
}

.social-media a {
  display: block;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel__titles {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 10;
  color: white;
}

.carousel__titles h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.carousel img {
  width: auto;
  height: 100%;
  position: relative;
  z-index: 1;
}

.blog-aside {
  display: none;
}

.blog-post {
  width: 100%;
}

.post {
  width: 100%;
  padding: 40px;
  margin: auto;
}

.post h1 {
  margin-bottom: 40px;
  font-size: 40px;
}

.post h3 {
  font-size: 30px;
  margin-bottom: 40px;
}

.post p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.quickgalery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2px;
  width: 100%;
  background-color: black;
}

.galerydiv {
  width: 100%;
}

.galerydiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  height: auto;
  padding: 30px;
  background-color: black;
  color: white;
}

.name {
  padding-bottom: 40px;
}

.nav-desk {
  display: none;
}

.blog {
  width: 100%;
  padding-top: 60px;
}

.blog-entries {
  width: 100%;
  padding: 40px;
  margin: auto;
}

.blog-entry {
  display: flex;
  flex-direction: column;
}

.blog-entry-title {
  padding-bottom: 40px;
}

.blog-entry-extract {
  padding-bottom: 40px;
}

.blog-entry-more {
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
}

.art {
  position: absolute;
  width: 100%;
  height: -webkit-max-content;
  height: max-content;
  background-color: black;
}

.nav-art {
  position: sticky;
  top: 100px;
  width: 100%;
  height: 50px;
  padding: 15px;
  z-index: 400;
  background-color: rgba(0, 0, 0, 0.1);
}

.art-categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.art-categories li {
  list-style: none;
}

.nav-art a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 768px) {
  .c-nav {
    width: 80%;
    margin: auto;
  }

  .nav-category {
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  .carousel {
    width: 70%;
    height: 85vh;
    margin: auto;
  }

  .carousel span {
    display: none;
  }

  .carousel__titles {
    left: 0;
    bottom: 100px;
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .nav-desk {
    display: block;
    width: 100%;
    height: 15vh;
  }

  .nav-desk-categories li {
    list-style: none;
  }

  .nav-desk-categories a {
    text-decoration: none;
    font-family: OxygenBold;
    letter-spacing: 3px;
    color: black;
  }

  .nav-desk-categories {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .post, .blog-entries {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) {
  .quickgalery {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .post, .blog-entries {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .quickgalery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}